@import './styles/mixins.scss';
@import './styles/variables.scss';

.full-page
{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $page-background;
}

.full-page
{
    .page-panel
    {
        width: 30%;
        min-width: 460px;
        background: $page-background;
        padding: 2rem;
        border-radius: .5rem;

        @include shadow;

        .page-panel-header
        {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;

            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $border-gray-color;

            .page-panel-title
            {
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
        .page-panel-body
        {
            margin-bottom: 1rem;
            border-bottom: 1px solid $border-gray-color;
        }
        .page-panel-footer
        {
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.under-maintenance-icon
{
    width: 100%;
    display: flex;
    justify-content: center;

    i
    {
        font-size: 2rem;
        line-height: 0;
        animation: spin 2.4s linear infinite;
    }
}
.under-maintenance-message
{
    p
    {
        text-align: center;
    }
}

.not-found
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: $page-background;

    > img
    {
        width: 6rem;
        margin-bottom: 2rem;
    }
    > p
    {
        margin-bottom: 2rem;
    }
}
